

.help {
    text-align: center;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin-left: 900px;
}

h2 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.help button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.imgbg img{
    width: 600px;
    max-width: 600px;
    margin-top: -500px;
    margin-left: 250px;
    border-radius: 40px;
    width: 100%;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    
}

textarea {
    resize: none;

}

